<div class="mt-1">
    <app-top-search></app-top-search>
    
</div>
<div class="static mx-auto place-content-center w-3/4 surface-card p-4 shadow-2 border-round">
    <div class="relative h-1/12">
        <img alt="Card" class="rounded-md h-36 w-full object-cover" src={{selectedRestaurant.img}} />
    </div>

    <div class="text-4xl font-medium mt-3 text-900 mb-3"> {{selectedRestaurant.name}} </div>
    <div class="font-normal text-500 text-gray-400 mb-3"> {{selectedRestaurant.description}} </div>
    
    <div class="grid grid-cols-4 grid-rows-2 gap-3 content-center">

          <!-- what a monstrosity xd  -->
        <div class="col-span-1 col-start-1 absolute" >
        <p-accordion value="0" >
            <p-accordion-panel value="1" >
                <p-accordion-header>Hours open
                    <ng-template #toggleicon let-active="active">
                    @if (active) {
                        <i class="pi pi-minus"></i>
                    } @else {
                        <i class="pi pi-plus"></i>
                    }
            </ng-template>
                </p-accordion-header>
                <p-accordion-content>  
                    
                        <div *ngIf="selectedRestaurant">
                            <p-table [value]="getHoursArray()" [tableStyle]="{ 'max-width': '15rem' }">
                                <ng-template #header>
                                    <tr>
                                        <th>Day</th>
                                        <th>Hours </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-hourObj>
                                    <tr>
                                        <td>{{ hourObj.day }}</td>
                                        <td>{{ hourObj.hours }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
        
                </p-accordion-content>
            </p-accordion-panel>
        </p-accordion>
        </div>
        
        <div class="col-span-1 col-start-4 content-center cursor-pointer" (click)="showAllReviews()" >
            <p-rating [(ngModel)]="value" [readonly]="true"/><h1 >{{selectedRestaurant.rating}} / 5 &nbsp;&nbsp;&nbsp;&nbsp; <div class="text-stone-400">{{selectedRestaurant.reviewCount}} reviews</div></h1> 
        </div>
        

        <div>
            <div>
                <i class="pi pi-map-marker"></i>
                {{selectedRestaurant.location}}
            </div >

            <div class="mt-3"> 
                <i class="pi pi-phone"></i>
                {{selectedRestaurant.phone}}
            </div>
        </div>
        <!-- Turn this review part into component -->
        <p-button (click)="showReviewDialog()" class="col-span-1 col-start-4 content-center"><i class="pi pi-send"> </i> Write a review</p-button>

        <p-dialog header="Review" [modal]="true" [(visible)]="visibleReview" [style]="{ width: '25rem' }">
            <span class="p-text-secondary block mb-8">Leave {{selectedRestaurant.name}} a review.</span>
            <div class="flex items-center gap-4 mb-4"> 
                <label for="title" class="font-semibold w-24">Title*</label>
                <input pInputText id="title" class="flex-auto" autocomplete="off" />
                <p-rating class="flex-auto" ></p-rating>
            </div>
            <div class="flex items-center gap-5 mb-8">
                <p-floatlabel variant="on">
                    <label for="review" class="font-semibold w-24">Description</label>
                    <textarea rows="8" cols="37" id="review" class="flex-auto" autocomplete="off" pTextarea [autoResize]="true"> </textarea>
                </p-floatlabel>
            </div>
            <div class="flex justify-end gap-2">
                    <p-button label="Cancel" severity="secondary" (click)="visibleReview = false" />
                    <p-button label="Post" (click)="visibleReview = false" ><i class="pi pi-send"></i> </p-button>
            </div>
        </p-dialog>
        
        <!-- Turn this review part into component as well-->

        <p-dialog header="All Reviews" [modal]="true" [(visible)]="visibleAllReviews" [style]="{ width: '40rem' }">
            <span class="p-text-secondary block mb-8">All of {{selectedRestaurant.name}}'s {{selectedRestaurant.reviewCount}} reviews</span>
            <div class="flex items-center gap-4 mb-4"> 
                <p class="font-bold w-24"> Całkiem ok</p>
                <p-rating [(ngModel)]="value" class="flex-auto" [readonly]="true"></p-rating>
            </div>
            <div class="flex items-center gap-5 mb-8">
                <p>Naprawde spoko restauracja, ok cena, super obsluga, nic tylko wracac</p>
            </div>
            <div class="flex justify-end gap-2">             
                <p-button label="Ok" (click)="hideAllReviews()"> <i class="pi pi-check"></i></p-button>
            </div>
        </p-dialog>

    </div>
    <div class="grid grid-cols-3 w-screenitems-center justify-center rounded-3xl bg-zinc-950"> 
    <app-menu-item-card class="m-3" *ngFor="let item of items"></app-menu-item-card>
</div>
    
</div>

