<div class="mt-1">
    <app-top-search></app-top-search>
</div>
<div class="m-3">
    <p-button routerLink="/browse"> <i class="pi pi-arrow-left"></i></p-button>
</div>
<div class="static mx-auto place-content-center w-3/4 surface-card p-4 shadow-2 border-round">
    
    <div class="relative h-1/12">
        <img alt="Card" class="h-48 w-full object-cover" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/2b/56/71/59/atmosphere.jpg" />

    </div>

    <div class="text-3xl font-medium text-900 mb-3">Restaurant name</div>
    <div class="font-medium text-500 mb-3">Description of the restaurant - At [Restaurant Name], we believe in simple, good food done right.
    Our menu is built around fresh, seasonal ingredients sourced from local suppliers whenever possible.
    Experience vibrant flavors and thoughtfully prepared dishes in a bright and welcoming setting.
    Join us for a taste of something delicious. </div>
    
    <div class="relative ml-8 mr-8 surface-border">
        <div class="absolute mt-3 right-8 card flex justify-center">
            <p-rating [(ngModel)]="value" [readonly]="true"/>
            <h1 class="ml-2">score/5.0</h1> 
        </div>
    </div>

    <div>
            Lokalizacja
    </div>

    <div>
            Godziny otwarcia 
    </div>

    <div>
            Telefon
    </div>
</div>