/frontend/.angular/cache/19.2.12/frontend/.tsbuildinfo
/frontend/node_modules/
/frontend/.angular/cache
/backend/bin/
/backend/obj/
/backend/packages/
/backend/riderModule.iml
/backend/_ReSharper.Caches/
backend/.vs/menumate/FileContentIndex/5d483418-b24d-4820-a8fb-4e5b5bffa530.vsidx
backend/.vs/menumate/FileContentIndex/231be713-8812-4593-8962-cc7a3c075e6d.vsidx
backend/.vs/menumate/FileContentIndex/688c6ba0-43b5-412f-8db1-a63850588fd4.vsidx
backend/.vs/menumate/FileContentIndex/e025a3fc-7666-4e80-928e-a8e2b022b41d.vsidx
backend/.vs/menumate/FileContentIndex/e154a6b4-627f-4360-87b3-89c2c1d5c10b.vsidx
