
<div class="flex flex-col mt-12 justify-center items-center gap-5">
    <img class="rounded-md h-96 w-96 object-" src="https://i.imgur.com/l8eYqev.png"> 
    <div class="text-3xl font-bold mt-12">Page not found</div>
    <div class="text-l w-1/2 text-center mt-12 font-semibold text-slate-300">Somebody broke this page. Don't worry - our elite dev team (One computer-science student fueled by instant noodles and buckets of cofee) is already on the case!</div>

    <div class="mt-12">
        <p-button routerLink="/browse" > Take me back to browse now! </p-button>
    </div>
</div>