<p-card onclick="console.log('Clicked on the card')" [style]="{ width: '18rem', overflow: 'hidden' }" class="cursor-pointer">
    <ng-template #header>
        <img alt="Card" class="h-32 w-full object-cover" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title> Menu item name </ng-template>
    <ng-template #subtitle> Subtitle </ng-template>
    <div class="h">
        <p>
            The card length changes depending on the length of the text
        </p>
    </div>
</p-card>