<p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #header>
        <img alt="Card" class="h-32 w-full object-cover" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title> Menu item name </ng-template>
    <ng-template #subtitle> Subtitle </ng-template>
    <div class="h-12">
        <p>
            The card length changes depending on the length of the text
        </p>
    </div>
    <ng-template #footer>
        <div class="flex gap-4 mt-1">
            <p-button label="Nutritional info" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
        </div>
    </ng-template>
</p-card>