<p-drawer [(visible)]="visible" header="Menu">
    <div class="flex flex-col justify-center items-center gap-y-5">
        
        <p-button routerLink="/browse" class="w-full" styleClass="w-full">Browse</p-button>
        <p-button class="w-full" styleClass="w-full">Placeholder 1</p-button>
        <p-button class="w-full" styleClass="w-full">Placeholder 2</p-button>
        <p-button class="w-full" styleClass="w-full">Placeholder 3</p-button>
    </div>

</p-drawer>


<div class="flex flex-row justify-center items-stretch">    
    <p-toolbar class="w-full ml-3 mr-3">
        <p-button (click)="visible = true" icon="pi pi-bars" />  
        <p-floatlabel variant="on">
            <p-iconfield >
                <p-inputicon class="pi pi-search" />
                <input class="text-center sm:w-auto lg:w-96 h-10 rounded-2xl"  pInputText id="on_label" autocomplete="off" />
            </p-iconfield>
            <label for="on_label" style="color: aliceblue;"> Search</label>
        </p-floatlabel>
        <p-avatar shape="circle" class="h-full w-svw"></p-avatar>       
    </p-toolbar>

    
</div>