<div>
    <div class="mt-1">
        <app-top-search></app-top-search>
    </div>
    <div class="justify-center columns-sm cursor-none">
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
        <app-restaurant-card></app-restaurant-card>
    </div>
</div>